:root {
  --font-color: #585757;
  --header-color: #e2d9c6;
  --button-blue: #b8e1f2;
  --button-hover: #cde8f2;
  --error-red: rgb(243, 104, 62);
  --background-grey: #f2f2f2;
  --other-goldish: #e0ddd6;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto 0 auto;
}

main {
  margin: 0;
  /* padding: 20px; */
}

footer {
  background-color: #bababa;
  width: 100%;
  height: 5em;
  margin: 0;
  text-align: center;
  font-family: Optima;
}

footer p {
  margin: 3em;
  padding: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
p,
form {
  font-family: Optima;
  font-weight: 50;
  text-decoration: none;
  color: var(--font-color);
}

.header-text {
  text-transform: uppercase;
}

h3,
h4 {
  text-transform: capitalize;
}

h3 {
  font-size: 1.75em;
}
h4 {
  font-weight: 600;
}

h1 {
  font-size: 1.75em;
  align-self: start;
  text-align: start;
  margin: 0;
}

#desktop-nav {
  display: flex;
  box-shadow: 0px 3px 7px var(--font-color);
  height: 5em;
  align-items: center;
}

#mobile-nav {
  display: none;
}

.nav-text {
  display: flex;
  padding-left: 20px;
  padding-right: 50px;
  width: 100%;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  padding: 0;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

nav li {
  padding: 0 10px;
}

nav li:hover {
  opacity: 0.8;
}

.logo img {
  width: 50px;
  margin-left: 50px;
  height: auto;
  justify-self: start;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.title-section {
  height: 13em;
  width: 100%;
  background-color: var(--header-color);
  position: static;
  z-index: -1;
  text-align: center;
  display: grid;
  place-items: center;
}

.title-section h2 {
  margin: 0;
  font-size: 2.5em;
}

.login-box {
  width: 50%;
  height: auto;
  margin: 10px auto;
  padding: 1em;
  background-color: var(--background-grey);
  color: var(--font-color);

  place-items: center;
  border: solid 0.5px var(--font-color);
}

.err-msg {
  font-size: 1.5rem;
  color: var(--error-red);
}

.pass,
.username {
  margin: 10px auto;
  font-size: 2em;
}

.login-box input {
  margin: 10px auto;
}

#passw,
#username {
  color: var(--font-color);
  font-family: Optima;
  font-size: 0.75em;
  border: solid 0.5px var(--font-color);
  width: 100%;
  padding: 5px;
}

.submit-button {
  background-color: var(--button-blue);
  color: var(--font-color);
  border: none;
  font-family: Optima;
  font-size: 1.5em;
  border-radius: 15px;
  width: 50%;
  padding: 10px 15px;
  cursor: pointer;
}
.submit-button:hover,
.submit-button:active {
  /* border: solid 0.5px var(--font-color); */
  background-color: var(--button-hover);
}

.people-list {
  margin: 30px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  padding: 0 1em;
}

.person-card,
.story-card {
  width: 100%;
  /* height: fit-content; */
  text-align: center;
  /* border: solid 0.5px var(--font-color); */
}

.person-card h3,
.story-card h3 {
  display: block;
  font-size: 1.5em;
  background-color: var(--other-goldish);
  border: solid 0.5px var(--font-color);
  padding: 1.5em 0.25em;
  margin: 2em 0 0 0;
}

.person-card a,
.story-card a {
  display: block;
  padding: 1em 0;
  border: solid 0.5px var(--font-color);
  background-color: var(--button-blue);
}

.person-card a:hover,
.person-card a:active,
.story-card a:hover,
.story-card a:active {
  background-color: var(--button-hover);
}

#vitals {
  width: 100%;
  height: auto;
  margin: 2em auto;
  background-color: var(--background-grey);
  display: flex;
  flex-direction: column;
  font-family: Optima;
  text-transform: none;
  gap: 0;
  color: var(--font-color);
}

#vitals h4 {
  font-size: 2.25rem;
}

#vitals p {
  font-size: 2rem;
}

#vitals ul {
  padding: auto;
  font-size: 2rem;
  text-transform: none;
}

#vitals li {
  text-transform: none;
}

.birth {
  margin-top: 2rem;
}

#vitals div {
  margin-left: 4rem;
}

.admin-cont {
  display: flex;
  justify-content: space-around;
}

.admin-button {
  padding: 1em;
  text-align: center;
  border: solid 0.5px var(--font-color);
  background: var(--other-goldish);
  border-radius: 15px;
  font-size: 1.5em;
  margin: 1.5em;
}

.login-err {
  margin: 1rem auto;
  font-family: Optima;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--error-red);
  text-align: center;
}

.story-page {
  max-width: 65ch;
  line-height: 170%;
  font-size: 120%;
}

#summ-entry {
  margin-bottom: 1.5em;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  font-family: Optima;
}

#editor {
  margin-bottom: 1.5em;
  height: 30vh;
}

#add-form,
#edit-form {
  padding: 1.5em;
  width: 90%;
}

select {
  height: 20vh;
}

option {
  margin: 1em 0;
}

.add-button {
  margin: 1em 0;
  width: 25%;
  min-width: 200px;
}

.about-content {
  margin: inherit auto;
  width: 90%;
}

@media only screen and (max-width: 900px) {
  .nav-text {
    padding: 0;
  }
  .logo img {
    margin: 0 1em;
  }
}

@media only screen and (max-width: 805px) {
  .nav-text ul {
    margin: auto;
  }
}

@media only screen and (max-width: 770px) {
  .person-card h3,
  .story-card h3 {
    font-size: 1.25em;
  }
  .login-box {
    width: 70%;
    font-size: 90%;
  }

  .story-page {
    width: 90%;
  }
}

@media only screen and (max-width: 650px) {
  .header-text {
    font-size: 1.5em;
  }

  .admin-cont {
    flex-direction: column;
  }

  section {
    display: flex;
    flex-direction: column;
    margin: 1em 1.25em;
  }

  .people-list {
    display: flex;
    flex-direction: column;
    margin: 1em 1.25em;
  }

  .person-card h3,
  .story-card h3 {
    margin: 1em 0 0 0;
    padding: 1em 0.25em;
  }

  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: flex;
    box-shadow: 0px 3px 7px var(--font-color);
    height: 5em;
    align-items: center;
  }

  .dropdown {
    font-family: Optima;
    color: var(--font-color);
    font-weight: 600;
    font-size: 1.5em;
    padding-right: 1.5em;
    cursor: pointer;
  }

  #mobile-overlay {
    display: flex;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
    transition: opacity 0.5s ease;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #mobile-overlay.overlay {
    opacity: 100%;
    width: auto;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 100;
    height: 100vh;
  }

  .exit {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 2em;
    font-family: Optima;
    color: var(--font-color);
    cursor: pointer;
  }

  .overlay li {
    margin: 1.5rem;
    font-size: 2rem;
  }
}
